<nav>
  <article class="links">
    <a href="#slide1" title="Aller à la page">accueil</a>
    <a href="#slide2" title="Aller à la page">expériences</a>
    <a href="#slide3" title="Aller à la page">recommandations</a>
    <a href="#slide4" title="Aller à la page">contact</a>
  </article>

  <!-- routerlink et atif -->
  <!-- <a routerLink="" fragment="slide1" routerLinkActive="actif">acceuil</a>
      <a routerLink="" fragment="slide2" routerLinkActive="actif">expériences</a>
      <a routerLink="" fragment="slide3" routerLinkActive="actif"
        >recommandations</a
      >
      <a routerLink="" fragment="slide4" routerLinkActive="actif">contact</a> -->
  <!-- test -->
  <!-- <a routerLink="" fragment="slide1" (click)="Active('accl')" id="accl"
      >acceuil</a
    >
    <a routerLink="" fragment="slide2" (click)="Active('expe')" id="expe"
      >expériences</a
    >
    <a routerLink="" fragment="slide3" (click)="Active('rcmd')" id="rcmd"npm
      >recommandations</a
    >
    <a routerLink="" fragment="slide4" (click)="Active('ctct')" id="ctct"
      >contact</a
    > -->
  <!-- de base -->
</nav>
