<section id="slide1">
  <h1 id="presentation">
    Bonjour! Voici un petit site pour me présentez en quelques lignes.
  </h1>
</section>

<section id="slide2">
  <H1>Voici le retour des mes expériences</H1>
  <div class="exp2">
    <h3>Administrateur réseaux et serveurs</h3>
    <p>
      C’est précisément ce poste qui m’a permis de travailler dans le domaine
      que je chéri depuis longtemps. Cette association m’a permis de
      professionnaliser ma passion pour l’informatique. Ce fut une véritable
      opportunité, pour moi de mettre au service de l’asbl, mes compétences en
      gestion de réseaux et de mise en place des serveurs nécessaires au bon
      fonctionnement des événements.
    </p>
  </div>
  <div class="exp2">
    <h3>Dix ans en tant que Moniteur auto école</h3>
    <p>
      Ce métier demande du coeur, il y a un réel accompagnement, et un véritable
      liens qui se crée avec les élèves, alors qu'on est seul avec eux sur la
      route. Il faut savoir faire preuve de patience, d'écoute et même de
      persuasion. Il faut également gérer une grosse partie administrative, en
      liens direct avec la préfecture départementale, qui est parfois
      capricieuse.
    </p>
  </div>
  <div class="exp2">
    <h3>Secouriste pour la croix rouge française</h3>
    <p>
      Ce poste demande beaucoup de sang froid, de maîtrise de soi et des
      situations de crises. Travailler en équipe dans des situations d’urgence,
      ne peut se faire que lorsque qu’il y a une très bonne communication et une
      bonne confiance entre collègues. C’est un bon apprentissage des relations
      humaines.
    </p>
  </div>
  <div class="exp2">
    <h3>Contrôleur qualité / ajusteur-monteur-régleur</h3>
    <p>
      Du travail très minutieux, dont la qualité prévaut sur la quantité. Une
      expérience enrichissante dans des grands groupes tels que Thalès ou
      Freudenberg.
    </p>
  </div>
  <div class="exp2">
    <h3>Technicien Prosegur</h3>
    <p>
      Mon tout premier emploi qui m’a permis de voir l’envers du décor des
      banques et de toute la sécurité mise en place. Il faut être autonome et
      digne de confiance, travailler seul, en étant parfois à proximité de
      documents sensibles ou tout simplement d’argent.
    </p>
  </div>
</section>

<section id="slide3">
  <h1>Qui me recommande et pourquoi</h1>
  <div class="exp">
    <h3>Géraldine TONET</h3>
    <h5>
      Conseillère en Aménagement du Territoire et Urbanisme à la commune de
      Lobbes.
    </h5>
    <p>
      Me recommande pour mon investissement, et mon envie d'aller au bout des
      choses.
    </p>
  </div>
  <div class="exp">
    <h3>Nicolas GRANGE</h3>
    <h5>Coordinateur Technique Opérationnel pour Solvay Monde à Lyon.</h5>
    <p>
      Me recommande pour mon habileté a trouver des solution rapide et simple en
      cas d'urgence.
    </p>
  </div>
  <div class="exp">
    <h3>Morad El Hamdouni</h3>
    <h5>
      Développeur Web, en Freelance, actuellement en contrat pour la cour des
      comptes à Paris
    </h5>
    <p>Me recommande pour ma persévérance et mon flegme face aux difficultés</p>
  </div>
  <div class="exp">
    <h3>Sébastien Vanwynsberghe</h3>
    <h5>Formateur informatique pour Interface3.Namur à Namur</h5>
    <p>
      Me recommande pour mon implication et mon assiduité à suivre une formation
    </p>
  </div>
</section>

<section id="slide4">
  <h1>Me contacter</h1>
  <h3>Gaël GRANGE</h3>
  <p>grange.gael@yahoo.com</p>
  <p>0455 11 09 94</p>
</section>

<footer>
  <h2>Informations</h2>
  <p>Site web pour <strong>ProjectPerso</strong></p>
  <p><strong>Gaël GRANGE</strong> &copy;2021</p>
</footer>
