<section id="slide1">
  <h1 id="presentation">
    Bonjour! Voici un petit site pour me présentez en quelques lignes.
  </h1>
</section>

<section id="slide2">
  <H1>Voici le retour des mes expériences</H1>
  <h3>Dix ans en tant que Moniteur auto école</h3>
  <p>
    Ce métier demande du coeur, il y a un réel accompagnement, et un véritable
    liens qui se crée avec les élèves, alors qu'on est seul avec eux sur la
    route. Il faut savoir faire preuve de patience, d'écoute et même de
    persuasion. Il faut également gérer une grosse partie administrative, en
    liens direct avec la préfecture départementale, qui est parfois capricieuse.
  </p>
  <app-jauge title="Autonomie" valj="80"></app-jauge><br />
  <app-jauge title="Savoir-être" valj="90"></app-jauge><br />
  <app-jauge title="Administration" valj="65 "></app-jauge>

  <h3>piapia</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque,
    blanditiis deserunt in quibusdam aspernatur minus quas nisi fugiat
    accusantium. Impedit, accusamus dignissimos neque nulla quis consectetur
    labore quia obcaecati? <br />
    Sint consectetur, porro quae ea corporis incidunt dolore quos molestiae
    minus dolores architecto aperiam deserunt ipsam, laudantium, eum est autem
    iusto cumque libero ab delectus. Minima aperiam eveniet modi sapiente.
    <br />
    Velit, ipsam, ullam facere repellat officia quis consequatur quam rerum
    repellendus dolores ipsa quos praesentium dignissimos nostrum expedita
    ratione error ex voluptatum natus impedit. Voluptates necessitatibus quia
    quaerat iste facilis!
  </p>
  <h3>Patin couffin</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eaque,
    blanditiis deserunt in quibusdam aspernatur minus quas nisi fugiat
    accusantium. Impedit, accusamus dignissimos neque nulla quis consectetur
    labore quia obcaecati? <br />
    Sint consectetur, porro quae ea corporis incidunt dolore quos molestiae
    minus dolores architecto aperiam deserunt ipsam, laudantium, eum est autem
    iusto cumque libero ab delectus. Minima aperiam eveniet modi sapiente.
    <br />
    Velit, ipsam, ullam facere repellat officia quis consequatur quam rerum
    repellendus dolores ipsa quos praesentium dignissimos nostrum expedita
    ratione error ex voluptatum natus impedit. Voluptates necessitatibus quia
    quaerat iste facilis!
  </p>
</section>

<section id="slide3">
  <h1>Qui me recommande et pourquoi</h1>
  <div class="exp">
    <h3>Géraldine TONET</h3>
    <h5>
      Conseillère en Aménagement du territoire et Urbanisme à la commune de
      Lobbes.
    </h5>
    <p>
      Me recommande pour mon investissement, et mon envie d'aller au bout des
      choses.
    </p>
  </div>
  <div class="exp">
    <h3>Nicolas GRANGE</h3>
    <h5>Coordinateur Technique Opérationnel pour Solvay Monde à Lyon.</h5>
    <p>
      Me recommande pour mon habileté a trouver des solution rapide et simple en
      cas d'urgence.
    </p>
  </div>
  <div class="exp">
    <h3>Morad El Hamdouni</h3>
    <h5>
      Développeur Web, en Freelance, actuellement en contrat pour la cours des
      comptes à Paris
    </h5>
    <p>Me recommande pour ma persévérance et mon flegme face aux difficultés</p>
  </div>
  <div class="exp">
    <h3>Sébastien Vanwynsberghe</h3>
    <h5>Formateur informatique pour Interface3.Namur à Namur</h5>
    <p>
      Me recommande pour mon implication et mon assiduité à suivre une formation
    </p>
  </div>
</section>

<section id="slide4">
  <h1>Me contacter</h1>
  <h3>Gaël GRANGE</h3>
  <p>grange.gael@yahoo.com</p>
</section>
